################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameOfLife/FileContentIndex
/obj
/.vs
/c-sharp/bin/Debug/net8.0
/c-sharp/obj
/c-sharp/.vs/GameOfLife
